<nav>
    <div class="logo">
        <i class="pi pi-bars"></i>
        <div></div>
    </div>
    <div class="profile">
        <div class="profile--notifications">
            <i class="pi pi-bell"></i>
        </div>
        <img src='https://i.pinimg.com/564x/b5/12/68/b5126803cf115b044849b64ca565a4a7.jpg' alt="profilePicture"
            class="profile--picture">
        <div class="profile--details">
            <div class="profile--details__username">
                Gavano
            </div>
            <div class="profile--details__role">
                HR Manager
            </div>
        </div>
    </div>
</nav>