<!-- navigation bar that contains the user info and the logo -->
<nav>
    <div class="logo">
        <i class="pi pi-bars" (click)="toggleSidebar()"></i>
        <!-- Logo -->
        <div></div>
    </div>
    <div class="profile">
        <div class="profile--notifications">
            <i class="pi pi-bell"></i>
        </div>
        <!-- userDetails from the api -->
        <img src='{{ userImage }}' alt='{{userName}}' class="profile--picture">
        <div class="profile--details">
            <div class="profile--details__username">
                {{userName}}
            </div>
            <div class="profile--details__role">
                {{userRole}}
            </div>
        </div>
    </div>
</nav>