* {
    font-family: "Outfit", sans-serif;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.container {
    padding: 20px;
    display: flex;
}

h1 {
    font-size: 96px;
    color: var(--secondary-color);
    margin: 0;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}