<div class="container">
    <!-- Header Section -->
    <div class="page--header">
        <span>Olive Admin</span>
        <span>&nbsp;/&nbsp;Rules Engine</span>
    </div>
    <div class="section--header">
        <div class="section--header__title">
            Rules Engine
        </div>
        <div class="section--filters">
            <app-search></app-search>
           <app-filter></app-filter>
        </div>
    </div>
    <app-table [headers]="tableHeaders" [rows]="tableData"></app-table>
</div>