/* Sidebar Base Styling */
aside {
    height: 100vh;
    width: 273px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid var(--bg);
    padding: 2rem 0;
    box-shadow: 0 20px 50px var(--bg);
    transition: all 0.3s ease;
}

/* Collapsed Sidebar */
aside.collapsed {
    width: 80px;
}

/* Expanded Sidebar */
aside.expanded {
    width: 14rem;
}

/* Sidebar List */
.sidebar--list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Sidebar Items */
.sidebar--item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap:.5rem;
    font-size: 19px;
    font-weight: 400;
    padding: 1rem 1.2rem;
    cursor: pointer;
    letter-spacing: 1%;
    transition: background-color 0.5s ease;
}

.sidebar--item span {
    height: 29px;
    white-space: nowrap;
    opacity: 1;
    transform-origin: left;
    transition: opacity 0.1s ease;
}

/* Sidebar Icons */
.sidebar--item svg {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.sidebar--item:first-child svg {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

/* Active Sidebar Item */
.sidebar--item.active {
    font-weight: 600;
    background-color: var(--bg);
}

.sidebar--item.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 6px;
    transform: translateY(-20%);
    border-radius: 0 5px 5px 0;
    background-color: var(--secondary-color);
}

/* Hover Effect for Sidebar Item */
.sidebar--item:hover {
    background-color: var(--bg);
}

/* Collapsed State for Sidebar Items */
aside.collapsed .sidebar--item span {
    opacity: 0;
    display: none;
}

aside.collapsed .sidebar--item svg {
    margin: 0 auto;
}

/* Responsive Styling */
@media (max-width: 1280px) {
    aside.expanded {
        width: 12rem;
    }
}

@media (max-width: 992px) {
    aside {
        width: 80px;
    }

    aside.expanded {
        width: 12rem;
    }

    aside.expanded .sidebar--item {
        gap: 0.5rem;
    }

    aside.expanded .sidebar--item span {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    aside {
        width: 0;
        display: none;
    }

    aside.expanded {
        width: 80px;
    }

    aside .sidebar--item.active .item--icon {
        width: 50%;
        background: var(--bg);
        border-radius: 50%;
    }
}
