<aside [class.collapsed]="!sidebarService.isSidebarOpen()" [class.expanded]="sidebarService.isSidebarOpen()"
    role="navigation" aria-label="Sidebar">
    <ul class="sidebar--list">
        <li *ngFor="let item of sidebarItems" class="sidebar--item" [routerLink]="item.link" routerLinkActive="active">
            <div class="item--icon">
                <app-icon [name]="item.icon"></app-icon>
            </div>
            <span class="item-text">{{ item.label }}</span>
        </li>
    </ul>
</aside>