<div class="container">
    <!-- Header Section -->
    <div class="page--header">
        <span>Rule Engine</span>
        <span>&nbsp;/&nbsp;Leave Types</span>
    </div>
    <div class="section--header">
        <div class="section--header__title">
            Rules Engine
        </div>
        <div class="section--filters">
            <div class="section--filters">
                <app-search></app-search>
                <app-filter></app-filter>
                <div class="create--container">
                    <app-icon name="create"></app-icon>
                    <span (click)="navigateTo('/rules-engine/leavetypes/createrule')">Create New</span>
                </div>
            </div>
        </div>
    </div>
    <app-table [headers]="tableHeaders" [rows]="tableData"></app-table>
</div>