:root {
    --primary-color: #545454;
    --secondary-color: #ffffff;
    --btn-bg: #757575;
}

* {
    font-family: "Outfit", sans-serif;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}

app-table {
    width: 100%;
}

.container {
    /* width: 100%; */
    padding: 2rem 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    border-bottom: 1px solid #E8E8E8;
}

.page--header span:nth-child(1) {
    font-size: 1rem;
    color: var(--secondary-color);
}

.page--header span:nth-child(2) {
    font-size: 1rem;
    color: var(--secondary-text);
}

.section--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.section--header__title {
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
}

.section--filters {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
}

.filter--container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #ccc;
}

.filter--container svg {
    color: #ccc;
}

.create--container {
    height: 42px;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.section--content {
    width: 100%;
    height: 100vh;
}

.search--container {
    position: relative;
    width: 100%;
    display: flex;
    align-self: center;
}

.search--input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    padding: .5rem 40px .5rem 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search--input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px #afafaf;
}

.search--input::placeholder {
    color: #aaa;
}

.search--icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
}

@media(max-width:1180px) {
    .create--container span {
        font-size: .7rem;
    }

    .section--header {
        flex-direction: column;
        margin: 0 auto;
        gap: 1rem;
    }
}

@media (max-width:1280px) {
    .container {
        padding: 2rem .5rem;
    }

    .section--header {
        align-items: center;
    }

    .section--header__title {
        font-size: 1.1rem;
        width: 100%;
        white-space: nowrap;
    }
}

@media(max-width:868px) {
    .section--header__title {
        font-size: 1.1rem;
    }

    .section--header__button {
        width: 10rem;
    }

    .section--header__button span {
        width: 100%;
    }
}


@media(max-width:718px) {
    .section--header__title {
        font-size: 1.1rem;
    }

    .search--input {
        width: 100%;
    }

    .section--header {
        gap: 1rem;
        flex-direction: column;
    }

    .section--header__button {
        width: 8rem;
        padding: .4rem 1rem;
        font-size: .8rem;
    }
}