<!-- Content Section -->
<div class="section--content">
    <!-- Data Table -->
    <div class="table--wrapper">
        <table class="data--table">
            <thead>
                <tr>
                    <th *ngFor="let header of headers">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="rows.length === 0" class="empty-message">
                    No data available
                </div>

                <tr *ngFor="let row of rows;let i =  index;" (click)="navigateToDetails(i)">
                    <td *ngFor="let header of headers">
                        <ng-container [ngSwitch]="row[header]?.type || 'text'">
                            <!-- Text Content -->
                            <span *ngSwitchCase="'text'">{{ row[header] }}</span>

                            <!-- Button Content -->
                            <button *ngSwitchCase="'button'" [ngClass]="row[header]?.class">
                                {{ row[header]?.label }}
                            </button>

                            <!-- Image Content -->
                            <img *ngSwitchCase="'image'" [src]="row[header]?.src" [alt]="row[header]?.alt"
                                class="flag" />

                            <!-- Icon Content -->
                            <span *ngSwitchCase="'icon'"><app-icon name="actions"></app-icon></span>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination--container">
        <div class="pagintion--right">
            <div class="pagination--info">1 - 5 of 1</div>
            <!-- Page controls -->
            <div class="page--controls">
                <button><span>&lt;</span></button>
                <button><span>&gt;</span></button>
            </div>
        </div>
    </div>

</div>